In [2]:
#Write a python program that illustrates the usage of various operators
a=5
b=15
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(~a)
print(++a)
print(a%b)

20
-10
75
0.3333333333333333
30517578125
0
-6
5
5

In [3]:
#flowcontrol-if
age=15
if(age>18):
    print("eligible")
elif(age<18):
    print("not eligible")
else:
    print("invalid")

not eligible

In [19]:
#Write a python code to create a list of names of employees and display first item and last item of the list.Print 
#length and type of the list.
emp=["monday","tuesday","wednesday","thursday","friday"]
print(emp[0])
print(emp[-1])
print(len(emp))
print(type(emp))
print(emp[0:4])

monday
friday
5
<class 'list'>
['monday', 'tuesday', 'wednesday', 'thursday']

In [15]:
#flowcontrol-for
n=10

for i in range(n):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
#flowcontrol-while
n=4
while n>0:
    print(f"n is {n}")
    n=n-1

n is 4
n is 3
n is 2
n is 1

In [24]:
#Give an example to display the difference between list, dictionary and tuple.
list=["john",4]
set={1,2,3}
tup=("john",40)
dict={"name":"john","age":40}
print(list)
print(type(list))
print(set)
print(type(set))
print(tup)
print(type(tup))
print(dict)
print(type(dict))

['john', 4]
<class 'list'>
{1, 2, 3}
<class 'set'>
('john', 40)
<class 'tuple'>
{'name': 'john', 'age': 40}
<class 'dict'>

In [23]:
#create a multi dimensional list and display list elements
matrix=[
    [1,2],
    [3,5]
]
for i in matrix:
    for el in i:
        print(el,end=" ")
    print()

1 2
3 5

In [ ]:
#face value,place, place value
a=int(input("Enter a number"))
b=int(input("Enter digit"))
temp=a
i=1
print(f"face value {b}")
while(a>0):
    t2=a%10
    if(t2==b):
        print(f"place value {t2*i}")
    i*=10
    a//=10

In [ ]:
#face value,place, place value
a=int(input("Enter a number"))
b=int(input("Enter digit"))
temp=a
i=1
print(f"face value {b}")
while(a>0):
    t2=a%10
    if(t2==b):
        print(f"place value {t2*i}")
    i*=10
    a//=10

In [ ]:
a=6
print(a)