In [1]:
import pandas as pd

In [49]:
#To read the content in excel file to the data frame
df=pd.read_excel('Book1.xlsx')

In [50]:
#To read the content in CSV file to the data frame
df2=pd.read_csv('fileCSV.csv')

In [51]:
#The code to print first five rows in the dataframe
print(df.head())
print(df2.head())

   NO.           Name  Levels
0    1  Sarah Johnson       1
1    2  Michael Brown       3
2    3    Emma Wilson       1
3    4      James Lee       3
4    5  Olivia Harris       2
     Year Industry_aggregation_NZSIOC Industry_name_NZSIOC  \
0  2023.0                     Level 1       All industries
1  2023.0                     Level 1       All industries
2  2023.0                     Level 1       All industries
3  2023.0                     Level 1       All industries
4  2023.0                     Level 1       All industries

                Units Variable_code  \
0  Dollars (millions)           H01
1  Dollars (millions)           H04
2  Dollars (millions)           H05
3  Dollars (millions)           H07
4  Dollars (millions)           H08

                                     Variable_name      Variable_category  \
0                                     Total income  Financial performance
1  Sales, government funding, grants and subsidies  Financial performance
2                Interest, dividends and donations  Financial performance
3                             Non-operating income  Financial performance
4                                Total expenditure  Financial performance

      Value
0  930995.0
1  821630.0
2   84354.0
3   25010.0
4  832964.0

In [52]:
#The code to print last five rows in the dataframe
print(df.tail())
print(df2.tail())

    NO.            Name  Levels
45   46    Jacob Carter       1
46   47   Ruby Mitchell       3
47   48    Thomas Davis       1
48   49  Stella Jackson       3
49   50             Law       1
       Year Industry_aggregation_NZSIOC Industry_name_NZSIOC Units  \
50974   NaN                         NaN                  NaN   NaN
50975   NaN                         NaN                  NaN   NaN
50976   NaN                         NaN                  NaN   NaN
50977   NaN                         NaN                  NaN   NaN
50978   NaN                         NaN                  NaN   NaN

      Variable_code Variable_name Variable_category  Value
50974           NaN           NaN               NaN    NaN
50975           NaN           NaN               NaN    NaN
50976           NaN           NaN               NaN    NaN
50977           NaN           NaN               NaN    NaN
50978           NaN           NaN               NaN    NaN

In [53]:
#The code to print first three rows in the dataframe
print(df.head(3))
print(df2.head(3))

   NO.           Name  Levels
0    1  Sarah Johnson       1
1    2  Michael Brown       3
2    3    Emma Wilson       1
     Year Industry_aggregation_NZSIOC Industry_name_NZSIOC  \
0  2023.0                     Level 1       All industries
1  2023.0                     Level 1       All industries
2  2023.0                     Level 1       All industries

                Units Variable_code  \
0  Dollars (millions)           H01
1  Dollars (millions)           H04
2  Dollars (millions)           H05

                                     Variable_name      Variable_category  \
0                                     Total income  Financial performance
1  Sales, government funding, grants and subsidies  Financial performance
2                Interest, dividends and donations  Financial performance

      Value
0  930995.0
1  821630.0
2   84354.0

In [54]:
#The code to print last three rows in the dataframe
print(df.tail(3))
print(df2.tail(3))

    NO.            Name  Levels
47   48    Thomas Davis       1
48   49  Stella Jackson       3
49   50             Law       1
       Year Industry_aggregation_NZSIOC Industry_name_NZSIOC Units  \
50976   NaN                         NaN                  NaN   NaN
50977   NaN                         NaN                  NaN   NaN
50978   NaN                         NaN                  NaN   NaN

      Variable_code Variable_name Variable_category  Value
50976           NaN           NaN               NaN    NaN
50977           NaN           NaN               NaN    NaN
50978           NaN           NaN               NaN    NaN

In [68]:
#The method to print the summary of data and what attributes will be displayed
print(df.info())
print()
print(df2.info())
print()
print()
#Attributes printed using describe():
print(df.describe())
print()
print(df2.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO.     50 non-null     int64
 1   Name    50 non-null     object
 2   Levels  50 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.3+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50979 entries, 0 to 50978
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         39 non-null     float64
 1   Industry_aggregation_NZSIOC  39 non-null     object
 2   Industry_name_NZSIOC         39 non-null     object
 3   Units                        39 non-null     object
 4   Variable_code                39 non-null     object
 5   Variable_name                39 non-null     object
 6   Variable_category            39 non-null     object
 7   Value                        39 non-null     float64
dtypes: float64(2), object(6)
memory usage: 3.1+ MB
None


            NO.     Levels
count  50.00000  50.000000
mean   25.50000   1.980000
std    14.57738   0.820403
min     1.00000   1.000000
25%    13.25000   1.000000
50%    25.50000   2.000000
75%    37.75000   3.000000
max    50.00000   3.000000

         Year         Value
count    39.0  3.900000e+01
mean   2023.0  4.053601e+05
std       0.0  6.892605e+05
min    2023.0  4.000000e+00
25%    2023.0  1.860000e+03
50%    2023.0  5.446200e+04
75%    2023.0  7.408405e+05
max    2023.0  2.831894e+06

In [72]:
#To print summary of categorical values
df2['Industry_aggregation_NZSIOC']=df2['Industry_aggregation_NZSIOC'].astype('category')
print(df2.describe(include=['category']))

       Industry_aggregation_NZSIOC
count                           39
unique                           1
top                        Level 1
freq                            39

In [57]:
#To print categorical column values alone using describe method
print(df2["Industry_aggregation_NZSIOC"].describe())

count          39
unique          1
top       Level 1
freq           39
Name: Industry_aggregation_NZSIOC, dtype: object

In [58]:
#To print the summary of single attribute using describe 
print(df["Name"].describe())

count                50
unique               50
top       Sarah Johnson
freq                  1
Name: Name, dtype: object

In [85]:
#The method to print distinct observations for each attribute
print(df.nunique())
print(df2.nunique())

for c in df2.columns:
    print(f"{c} : {df2[c].unique()}")

NO.       50
Name      50
Levels     3
dtype: int64
Year                            1
Industry_aggregation_NZSIOC     1
Industry_name_NZSIOC            2
Units                           3
Variable_code                  32
Variable_name                  33
Variable_category               3
Value                          39
dtype: int64
Year : [2023.   nan]
Industry_aggregation_NZSIOC : ['Level 1', NaN]
Categories (1, object): ['Level 1']
Industry_name_NZSIOC : ['All industries' 'Agriculture, Forestry and Fishing' nan]
Units : ['Dollars (millions)' 'Dollars' 'Percentage' nan]
Variable_code : ['H01' 'H04' 'H05' 'H07' 'H08' 'H09' 'H10' 'H11' 'H12' 'H13' 'H14' 'H19'
 'H20' 'H21' 'H22' 'H23' 'H24' 'H25' 'H26' 'H29' 'H30' 'H31' 'H32' 'H33'
 'H34' 'H35' 'H36' 'H37' 'H39' 'H40' 'H41' 'H06' nan]
Variable_name : ['Total income' 'Sales, government funding, grants and subsidies'
 'Interest, dividends and donations' 'Non-operating income'
 'Total expenditure' 'Interest and donations' 'Indirect taxes'
 'Depreciation' 'Salaries and wages paid' 'Redundancy and severance'
 'Salaries and wages to self employed commission agents'
 'Purchases and other operating expenses' 'Non-operating expenses'
 'Opening stocks' 'Closing stocks' 'Surplus before income tax'
 'Total assets' 'Current assets' 'Fixed tangible assets' 'Other assets'
 'Total equity and liabilities' 'Shareholders funds or owners equity'
 'Current liabilities' 'Other liabilities'
 'Total income per employee count' 'Surplus per employee count'
 'Current ratio' 'Quick ratio' 'Return on equity' 'Return on total assets'
 'Liabilities structure' 'Sales of goods and services'
 'Government funding, grants and subsidies' nan]
Variable_category : ['Financial performance' 'Financial position' 'Financial ratios' nan]
Value : [9.309950e+05 8.216300e+05 8.435400e+04 2.501000e+04 8.329640e+05
 5.526700e+04 7.426000e+03 3.081400e+04 1.476630e+05 2.690000e+02
 1.639000e+03 5.669790e+05 2.317600e+04 8.077800e+04 8.819700e+04
 1.054500e+05 2.831894e+06 8.612550e+05 6.818900e+05 1.288749e+06
 2.831893e+06 9.574100e+05 1.074693e+06 7.997910e+05 4.646000e+05
 5.260000e+04 8.000000e+01 7.200000e+01 1.100000e+01 4.000000e+00
 3.400000e+01 5.446200e+04 5.147200e+04 8.930000e+02 1.500000e+01
 2.081000e+03 4.837700e+04 3.641000e+03 5.170000e+02          nan]

In [76]:
#The method to print unique values of a column in ascending order
print(df["Name"].sort_values().unique())
print(df2["Year"].sort_values().unique())

['Alexander Carter' 'Amelia Adams' 'Aria Taylor' 'Ava Martinez'
 'Benjamin Young' 'Charlotte King' 'Chloe Mitchell' 'Christopher Adams'
 'Daniel Walker' 'David Clark' 'Elijah Harris' 'Ella Robinson'
 'Ella Thomas' 'Emily Lewis' 'Emma Wilson' 'Ethan Davis' 'Grace Lewis'
 'Harper Allen' 'Henry Lewis' 'Isaac Lee' 'Isabella Green' 'Jack Walker'
 'Jack White' 'Jacob Carter' 'James Lee' 'Law' 'Leo Anderson'
 'Lily Thomas' 'Lily Young' 'Lucas King' 'Madison Clark' 'Mason Scott'
 'Matthew Hill' 'Mia Robinson' 'Michael Brown' 'Natalie Turner'
 'Noah Jackson' 'Oliver Wright' 'Olivia Harris' 'Ruby Mitchell'
 'Ryan Anderson' 'Samuel Moore' 'Sarah Johnson' 'Scarlett Allen'
 'Sophia Scott' 'Stella Jackson' 'Thomas Davis' 'Victoria Martinez'
 'William White' 'Zoey Hall']
[2023.   nan]

In [61]:
#To print the summary of a column by grouping the data
print(df2.groupby("Units").describe())

                    Year                                                       \
                   count    mean  std     min     25%     50%     75%     max
Units
Dollars              2.0  2023.0  0.0  2023.0  2023.0  2023.0  2023.0  2023.0
Dollars (millions)  32.0  2023.0  0.0  2023.0  2023.0  2023.0  2023.0  2023.0
Percentage           5.0  2023.0  0.0  2023.0  2023.0  2023.0  2023.0  2023.0

                   Value                                                \
                   count        mean            std      min       25%
Units
Dollars              2.0  258600.000  291327.993849  52600.0  155600.0
Dollars (millions)  32.0  477863.875  739124.464963     15.0   19238.5
Percentage           5.0      40.200      34.629467      4.0      11.0


                         50%       75%        max
Units
Dollars             258600.0  361600.0   464600.0
Dollars (millions)   82566.0  824463.5  2831894.0
Percentage              34.0      72.0       80.0

In [90]:
#The code to print the number of groups created along with row number
grouped=df2.groupby("Units")
print(len(grouped))
print(grouped.size())

for group_number, (group_name, group_data) in enumerate(grouped, 1):
    print(f"Group {group_number} ({group_name}):")
    print("Row indices:", group_data.index.tolist())
    print()


print("Total number of groups:", len(grouped))

3
Units
Dollars                2
Dollars (millions)    32
Percentage             5
dtype: int64
Group 1 (Dollars):
Row indices: [24, 25]

Group 2 (Dollars (millions)):
Row indices: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 31, 32, 33, 34, 35, 36, 37, 38]

Group 3 (Percentage):
Row indices: [26, 27, 28, 29, 30]

Total number of groups: 3

In [63]:
#The method to print size of the group
print(grouped.size())

Units
Dollars                2
Dollars (millions)    32
Percentage             5
dtype: int64

In [86]:
#The code to print particular group values
print(grouped.get_group('Dollars'))

      Year Industry_aggregation_NZSIOC Industry_name_NZSIOC    Units  \
24  2023.0                     Level 1       All industries  Dollars
25  2023.0                     Level 1       All industries  Dollars

   Variable_code                    Variable_name Variable_category     Value
24           H34  Total income per employee count  Financial ratios  464600.0
25           H35       Surplus per employee count  Financial ratios   52600.0

In [67]:
#The code to print count, max and min values of a group
gr=df.groupby("Levels")
print(gr.count())
print(gr.max())
print(gr.min())

        NO.  Name
Levels
1        17    17
2        17    17
3        16    16
        NO.               Name
Levels
1        50      William White
2        45  Victoria Martinez
3        49          Zoey Hall
        NO.              Name
Levels
1         1  Alexander Carter
2         5    Benjamin Young
3         2       David Clark